* {
    color: #343a40;
    font-family: "Inter", sans-serif;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    transition: opacity 0.5s ease-in;
}

html {
    opacity: 0;
}
html.load {
    opacity: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: fixed;
    top: 0;
    background-color: #fff;
    /* box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.07); */

    /* border: solid; */
}

.scroll {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.07);
}

.links {
    display: flex;
    justify-content: space-evenly;
    /* width: 50%; */
    flex: 0 1 30%;
    /* margin-right: 20px; */
    padding-right: 20px;
}

.links a {
    /* padding-right: 20px; */
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.5s ease;
}

.links a:hover,
.links a:active {
    /* font-weight: 700; */
    /* transition: 0.3s ease; */
    background-color: #e9ecef;
}

.current-page {
    font-weight: 700;
}

.other-pages {
    color: #495057;
}

.container {
    margin: 108px 10% 0 10%;
    /* text-align: center; */
}

h1 {
    font-size: 2.6em;
    letter-spacing: -1px;
    /* line-height: 1.1; */
}

p {
    line-height: 1.7;
    /* font-size: 1.1em; */
}

.hero {
    display: flex;
    gap: 5%;
}

.hero-img {
    /* display: block; */
    /* max-width: 500px;
    max-height: 250px; */
    /* width: 50%; */
    min-width: 700px;
    width: auto;
    height: 100%;
    /* flex: 0 0 50%; */
}

.hero-text {
    /* flex: 1 1 50%; */
    min-width: 50%;
}

.button {
    transition: background-color 0.5s ease;
}

.button:link,
.button:visited {
    display: inline-block;
    margin-top: 10px;
    font-weight: 500;
    color: #fff;
    background-color: #1971c2;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2em;
    padding: 1em;
}

.button:hover,
.button:active {
    background-color: #339af0;
}

.link-arrow {
    position: relative;
    top: -1.9px;
    width: 1em;
    height: 1em;
    stroke: #fff;
    /* line-height: 1; */
    vertical-align: middle;
    /* fill: #fff; */
}

/* .features h2 {
    text-align: center;
} */

.features,
.testimonial,
footer,
.heading {
    text-align: center;
    /* margin: auto; */
}

.testimonial-box {
    display: flex;
    width: 80%;
    margin: auto;
    background-color: #1971c2;
    border-radius: 20px;
}

.testimonial-box h3 {
    color: #fff;
}

.testimonial-text {
    font-style: italic;
    color: #e7f5ff;
}

.testimonial-author {
    color: #d0ebff;
}

.features-1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.feature-block-1 {
    margin-top: 100px;
    /* width: 28%; */
    flex: 0 1 350px;
}

.feature-icon {
    stroke: #1971c2;
    width: 2em;
    margin-bottom: 12px;
}

.features-2 {
    display: flex;
    text-align: center;
    width: 100%;
    margin: 200px 0 100px 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 5%;
    row-gap: 100px;
}

.features-2 img {
    /* width: auto; */
    height: 100%;
    max-width: 500px;
    width: 100%;
    margin-top: 50px;
}

.feature-block-2 {
    flex: 1 1 500px;
}

.feature-image-1 {
    order: 0;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.198);
    border-radius: 5px;
}

.feature-text-1 {
    order: 1;
}

.feature-image-2 {
    order: 3;
}

.feature-text-2 {
    order: 2;
}

.feature-image-3 {
    order: 4;
    box-shadow: 10px 20px 20px 0 rgba(0, 0, 0, 0.198);
    border-radius: 5px;
}

.feature-text-3 {
    order: 5;
}

@media screen and (max-width: 600px) {
    .feature-image-2 {
        order: 2;
    }

    .feature-text-2 {
        order: 3;
    }
}

.footnote {
    color: #495057;
    font-size: 10px;
    margin: 0.5em;
}

.to-pricing {
    text-align: center;
    margin: 100px 0 0 0;
}

.plans {
    margin: 100px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 5%;
}

.plans h2,
.plans p {
    text-align: center;
}

li {
    margin-bottom: 16px;
}

.free,
.gold,
.diamond {
    padding: 20px 20px 0 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.free {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 300px;
    /* justify-content: space-between; */
    box-shadow: inset 0 10px 10px 0 rgba(0, 0, 0, 0.344);
}

.gold {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 300px;
    /* justify-content: space-between; */
    /* background-color: #ffd43b; */
    /* border-radius: 30px; */
    background: #ffd43b
        linear-gradient(
            -45deg,
            transparent 0%,
            rgba(255, 255, 255, 0.1) 45%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255, 0.1) 55%,
            transparent 100%
        );
    /* min-height: 100%; */
}

.diamond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 300px;
    /* justify-content: space-between; */
    background: linear-gradient(-45deg, #ffd43b 20%, #ff70f8, #7effff 80%);
    /* background: linear-gradient(#fff, #fff) padding-box,
        linear-gradient(-45deg, #ffd43b, #ff00f2, #00ffff 80%) border-box; */
    /* border-width: 5px; */
    /* border: 3px solid transparent; */
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.344);
}

.price {
    font-size: 64px;
}

.plans button {
    align-self: flex-end;
    width: 100%;
    border-radius: 7.5px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: auto;
}

.free button {
    background-color: #fff;
    border: 2px solid #1971c2;
    color: #1971c2;
    transition: background-color 0.5s ease;
}

.free button:hover,
.free button:active {
    cursor: pointer;
    background-color: #f1f3f5;
}

.gold button,
.diamond button {
    background-color: #1971c2;
    border: 2px solid #1971c2;
    /* border: 0; */
    color: #fff;
    transition: background-color 0.5s ease, border 0.5s ease;
}

.gold button:hover,
.gold button:active,
.diamond button:hover,
.diamond button:active {
    cursor: pointer;
    background-color: #339af0;
    border: 2px solid #339af0;
}

.coupon {
    text-transform: uppercase;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.344);
    transition: border 0.3s ease;
}

.coupon:focus {
    border: 2px solid #1971c2;
    outline: none;
}

::placeholder {
    text-transform: none;
}

.coupon-message {
    margin: 10px 0 48px 0;
}

.successful {
    color: #2b8a3e;
}

.error {
    color: #c92a2a;
}

.enquiries {
    text-align: center;
}

footer {
    margin: 200px 0 100px 0;
}

table {
    margin: auto;
}

th {
    text-align: right;
}

td {
    text-align: left;
}
